/* RESETS */

* {
  font-family: serif;
  font-size: 1vw;
}
/*fonts*/
body {
  font-family: 'Montserrat', sans-serif;
  color: grey;
  margin: 0px;
  background-color: rgba(200, 206, 209, 0.45);
}

a, ul, li {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .2em;
  }

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  color: grey;
}

#admin a {
  font-style: normal;
}

/* BASE STYLES */
head, script, link {
  display: none;
}
a {
  text-decoration: none;
  display: inline;
}
html, body {
  background-color: rgba(200, 206, 209, 0.45);
  width:100%
}
main {
  margin: 0px auto;
}
img {
  z-index: 1;
}
p, a, h1, h2, h3, h4, ul, li, address {
  z-index: 10;
}
/* thead {
background: black;
color: white;
} */

header, footer {
  width: 100%;
  height: 5%;
  background: rgba(69, 67, 69, .5);
  color: rgb(227, 236, 253);
  z-index:10;
}
header {
  position: absolute;
  top: 0px;
  height: 8%;
  color: #fdfdfc;
  }
footer {
background: none;
  font-size: 10px;
}

/*-------------------------------text---------------------------*/
p {
  padding: 2% 3%;
  display: inline-block;
  margin: 3% auto;
  line-height: 2vw;
  text-align: justify;
  }

p.footer {
  text-align: center;
  color: black;

}
a {
  color: white;
  font-size: 1vw;
  }
  /*------------------------------headers---------------------*/
h1, h2, h3, h4 {
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 1vw;

}
h2 {
  font-size: 2vw;
}
h3 {
  margin-bottom: 2%;
  letter-spacing: 0.3em;
  border-bottom: 1px solid black;
}
h4 {
  text-align: right;
  padding: 2% 2%;
  margin: 2% 5%;
  letter-spacing: 0.3em;
  width: 90%;
  font-size: 3vw;
  }
/*---------------------------lists--------------------------*/
ul {
  display: inline-block;
  margin: 0 auto;
    }
li {
  display: inline;
}
nav li {
  padding-top: 2%;
  text-transform: uppercase;
  margin-right: 7%;
  letter-spacing: 0.2em;
}
ul.left {
  postion: absolute;
  float:left;
  display: inline;
  text-align: left;
  width: 60%;
  margin-top: .5%;
}
ul.right {
  display: inline;
  text-align: right;
  width: 30%;
  float: right;
  margin-top: .5%;
}
/*----------------------------------links---------------------*/

  /*------------------------image styles--------------------*/
  img.large {
    width: 100%;
      }
  img.medium {
    width: 300px;
    float: right;
    border: 15px solid white;
    box-shadow: 5px 5px 5px 0px rgba(150, 150, 150, 0.38);
          }
  img.left {
    display: inline;
    float:left;
    border: 15px solid white;
    box-shadow: 5px 5px 5px 0px rgba(150, 150, 150, 0.38);
    width: 700px;
  }
  img.icon {
    width: 100px;
    float: right;
    margin: auto 1%;
  }
  img.footer {
    display: inline-block;
    width:100px;
    margin: 0px auto;
    }
  /*img.float {
    margin-top: 10%;
    position: absolute;
    opacity: .5;
      }*/
  /*------------------------specific styles---------------*/

  #admin a {
    color: rgb(227, 236, 253);
    font-size: 10px;
    margin-right: 2%;
    padding: 0px;
  }

/*----------------------table------------------------*/
table {
  width: 700px;
  margin: 5% auto;
  }
th, td {
  padding: 7px 10px 10px 10px;
}

th {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 90%;
  border-bottom: 2px solid #111111;
  border-top: 1 px solid #999;
  text-align: left;

}
tr {
  background-color: #efefef;
}
form {
    margin-left: 20%;
    margin-top: 5%;
    overflow-y: hidden;
}
button {
  background: white;
  width: 150px;
  border radius: 10px;
}
/*------------------------IMAGES-----------------------*/
img.icon {
  width: 100px;
  float: right;
  margin: auto 1%;
}
img.button {
  width: 100px;
  margin: 0 auto;
  }
