*  {
  font-family: 'Helvetica', sans-serif;
  color: grey;
}

header {
  font-family: 'Martel', serif;
  font-weight: bold;
  color: white;
  background-color: #00A4BA;
}
article {
  background-color: white;
}
section {
  background-color: #FF8B31;
}
h1 {
  font-family: Avenir, serif;
  color: #FF8B31;
  background-color: #727272;

}

h2 {
  font-family: Avenir, serif;
  color: #FF8B31;
  background-color: #727272;
}

h3 {
  font-family: Avenir, serif;
  color: #FF8B31;
}
td {
  border: solid;
  border-color: black;
}
tr {
  border: solid;
  border-color: black;
}
