/* RESETS */

* {
  position: static;
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: serif;
  font-size: 1vw;
}
/*fonts*/
body {
  font-family: 'Hind Vadodara', sans-serif;
}
a, ul, li {
  font-family: 'Anton', sans-serif;
  letter-spacing: .2em;
  font-style: italic;
}
h1, h2, h3, h4 {
  font-family: 'Anton', sans-serif;
}
address {
    font-family: 'Anton', sans-serif;
}
p {

}
#admin a {
  font-style: normal;
}
/*fonts
font-family: 'Pacifico', cursive;
font-family: 'Anton', sans-serif;
font-family: 'Homemade Apple', cursive;
*/
/* BASE STYLES */
head, script, link {
  display: none;
}

a {
  text-decoration: none;
  display: inline;
}
html, body {
  background-color: rgb(227, 236, 253);
  width:100%
}
img {
  z-index: 1;
}
p, a, h1, h2, h3, h4, ul, li, address {
  z-index: 10;
}
/* thead {
background: black;
color: white;
} */

header, footer {
  width: 100%;
  height: 5%;
  background: rgba(69, 67, 69, .5);
  color: rgb(227, 236, 253);
  z-index:10;
}
header {
  position: absolute;
  top: 0px;
  height: 8%;
  box-shadow: 0px 1px 1px rgba(69, 67, 69, .5);
}
footer {
  position: fixed;
  bottom: 0px;
  left:0px;
  padding-top: 5px;
  height:20px;
  font-size: 10px;
}
/* section for 2-columns */
/* section {
display: inline-block;
width: calc(100% / 3);
margin: 5% 0;
margin-left: calc((100% / 3) / 3);
} */

/* section for 3-colums */
/* section {
display: inline-block;
width: calc(100% / 4);
margin: 5% 0;
margin-left: calc((100% / 4) / 4);
} */

article {
  width:90%;
  overflow: auto;
  margin:20px auto;
  display: block;
  color:black;
  border-bottom: 1px solid black;
   }
section {
display: inline-block;
width: 45%;
margin: 5% auto;
}
.right {
display: inline-block;
float: right;
width: 45%;
}
.left {
display: inline-block;
float: left;
width: 45%;
}
.threecolumn {
display: inline-block;
width: calc(100% / 4);
margin-left: calc((100% / 4) / 4);
}
.twocolumn {
display: inline-block;
width: calc(100% / 3);
margin-left: calc((100% / 3) / 3);
}

/*-------------------------------text---------------------------*/
p {
  padding: 2% 3%;
  display: inline-block;
  margin: 3% auto;
  line-height: 2vw;
  text-align: justify;
  }
address {
  float: right;
  text-align: right;
  margin: auto 5%;
  font-size: 2vw;
  width:50%;
  font-style: normal;
}
p.contact {
  float: right;
  text-align: right;
  font-size: 1.5vw;
}
/*------------------------------headers---------------------*/
h1, h2, h3, h4 {
  font-family: 'Anton', sans-serif;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 2vw;

}
h2 {
  font-size: 3vw;
}
h3 {
  margin-bottom: 2%;
  letter-spacing: 0.3em;
  border-bottom: 1px solid black;
}
h4 {
  text-align: right;
  padding: 2% 2%;
  margin: 2% 5%;
  letter-spacing: 0.3em;
  width: 100%;
  font-style: italic;
  }
/*---------------------------lists--------------------------*/
ul {
  display: inline-block;
  margin: 0 auto;
  }
li {
  display: inline;
}
nav li {
  text-transform: uppercase;
  margin-right: 7%;
  letter-spacing: 0.2em;
}
ul.left {
  float:left;
  text-align: left;
  width: 60%;
  margin-top: .5%;
}
ul.right {
  text-align: right;
  width: 40%;
  float: right;
  margin-top: 1%;
}
/*----------------------------------links---------------------*/
a {
  color: black;
  font-size: 2vw;
  }
  /*------------------------image styles--------------------*/
  img.large {
    width: 100%;
      }
  img.medium {
    width: 300px;
    float: right;
      }
  img.left {
    display: inline;
    float:left;
    width: 300px;
  }
  img.icon {
    width: 100px;
    float: right;
    margin: auto 1%;
  }
  /*img.float {
    margin-top: 10%;
    position: absolute;
    opacity: .5;
      }*/
  /*------------------------specific styles---------------*/
  #store-info {
    background-color: rgba(233, 215, 88, .7);
  }

  #product-info
  {
    margin: 5% 0;
    width: 100%;
      }
  #admin a {
    color: rgb(227, 236, 253);
    font-size: 10px;
    margin-right: 2%;
  }
